


/* Import fonts
----------------*/

*{
	/*font-family: 'Francois One', sans-serif;*/
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	font-weight: normal;
}

.placeName, .placeName a
{
	font-family: 'Tangerine', serif;
        font-size: 48px;
}
